body{
font-family: 'lato',sans-serif;
font-family: 'open sans',sans-serif;
}
.first{
    color: #fd6e0a;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    tab-size: 18px;
}
/*nav related style*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.btn{
    border-radius: 5px;
    background: #fd6e0a;
    color: white;
    border: 0;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/*header related style*/
.header{
    background-color: #fff8f3;
}
.banner{
    padding: 30 30 0 150;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile{
    width: 400px;
}
.banner-greeting{
font-size: 45px;
color: #474747;
margin-bottom: 0;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 5px;
}
/*main section style*/
/*about section style*/
.about{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 0;
}